<footer class="footer-section">
  <div class="footer-container container">
    <ul class="footer-nav-list">
      <li class="nav-list-item">
        <div class="nav-list-column-wrapper">
          <a href="#about-us" class="nav-list-link">about us</a>
          <a href="#our-collection" class="nav-list-link">our collection</a>
        </div>
      </li>
      <li class="nav-list-item">
        <div class="nav-list-column-wrapper">
          <a href="#customer-order" class="nav-list-link">customer order</a>
          <a href="#testimonials" class="nav-list-link">testimonials</a>
        </div>
      </li>
    </ul>

    <p class="footer-text">
      A touch of <span class="footer-text-span">Ukrainian</span> culture in
      every embroidery
    </p>
  </div>
</footer>
