<header class="page-header">
  <div class="container">
    <div class="logo-nav">
      <a class="logo" href="../index.html"
        ><img src="../img/logo.svg" alt="logo" width="44" height="39"
      /></a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="#about-us" class="nav-list-link">about us</a>
          </li>
          <li class="nav-list-item">
            <a href="#our-collection" class="nav-list-link">our collection</a>
          </li>
          <li class="nav-list-item">
            <a href="#customer-order" class="nav-list-link">customer order</a>
          </li>
          <li class="nav-list-item">
            <a href="#testimonials" class="nav-list-link">testimonials</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="address-social">
      <address class="address">
        <a class="address-tel-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <div class="social-list-open-btn">
        <ul class="social-list">
          <li class="social-list-item">
            <a
              class="social-list-link"
              href="https://www.facebook.com/goITclub/"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="../img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              class="social-list-link"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="../img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a class="social-list-link" href="https://www.youtube.com/c/GoIT">
              <svg class="social-icon" width="28" height="28">
                <use href="../img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>

        <button class="nav-open-btn" type="button">
          <div class="burger">
            <span class="center"> </span>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- mobile menu -->
<div class="mobile-menu is-open">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn" type="button">
      <svg class="mobile-menu-close-btn-icon" width="36" height="36">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <a class="mobile-menu-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="#about-us">about us</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="#our-collection"
          >our collection</a
        >
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="#customer-order"
          >customer order</a
        >
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="#testimonials">testimonials</a>
      </li>
    </ul>
  </div>
</div>
