<div class="background-image"></div>

<section class="your-order-section" id="customer-order">
  <div class="content-over-image container">
    <div class="product-section">
      <img src="./img/tablet/tb-order.jpg" alt="product" class="product-item" />
    </div>
    <div class="text-section">
      <h2 class="your-order-title">
        <span class="your-order-span">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <div class="form-container">
        <form class="section-form">
          <input
            class="form-input"
            type="text"
            id="name"
            name="name"
            required
            placeholder="Enter your full name"
            autocomplete="off"
            pattern="[A-Za-z\s]{3,}"
            title="Please enter at least 3 characters, using only letters and spaces."
          />

          <input
            class="form-input"
            type="email"
            id="email"
            name="email"
            required
            placeholder="Enter your email"
            autocomplete="off"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          />

          <textarea
            class="form-textarea"
            id="message"
            name="message"
            required
            placeholder="Comments"
          ></textarea>

          <button type="submit" class="order-btn">
            SEND
            <svg class="svg-btn">
              <use href="./img/sprite.svg#icon-untitled"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
