/* mobile about */
.about{
    max-width: 375px;
    background-image: url('../img/mobile/mb-about-orn.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    margin-right: auto;
        margin-left: auto;
}

.container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-title{
        font-size: 32px;
        font-weight: 500;
        line-height: 1.38;
        letter-spacing: -0.03em;
        margin-bottom: 40px;
}

.about-text{
    color: rgba(252, 249, 249, 0.40);
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.04px;
        margin-top: 20px;
}

.about-image{
    margin-top: 50px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .about {
        background-image: url('../img/mobile/mb-about-orn@2x.png');
    }
}

/* Tablet about*/
@media screen and (min-width: 768px) {
    .about {
        min-width: 768px;
        background-image: url('../img/tablet/tb-about-orn.png');
    }

 .container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
.about-image{
    margin-top: 40px;
}
.about-container-text{
    display: flex;
flex-direction: column;
}
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .about {
        background-image: url('../img/tablet/tb-about-orn@2x.png');
        
    }
}

/* Desctop about 1280 */
@media screen and (min-width: 1280px){
.about {
        min-width: 1280px;
        background-image: url('../img/desctop_1280/ts12-about-orn.png');
    }
.container {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;

}
.about-image{
    margin-top: 0;
}
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px){
.about {
        background-image: url('../img/desctop_1280/ts12-about-orn@2x.png');
    }
}

/* Desctop about 1440 */
@media screen and (min-width: 1440px) {
    .about {
        min-width: 1440px;
        background-image: url('../img/desctop_1440/ds14-about-orn.png');
    }
.container{
    width: 1240px;
}
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .about {
        background-image: url('../img/desctop_1440/ds14-about-orn@2x.png');
    }
}